@charset "UTF-8";
html {
  font-size: 17px;
}

body {
  letter-spacing: 0.03rem;
  -webkit-font-smoothing: antialiased;
  color: #555;
  outline-color: #26c088;
  margin: 0;
}

a {
  color: #26c088;
}
a:hover, a:visited, a:active {
  color: #22ab79;
}

input[type=submit] {
  width: auto;
  border: 0;
  border-radius: 3px;
  line-height: 1;
  font-size: 0.9em;
  background-color: #26c088;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
input[type=submit]:hover, input[type=submit]:focus {
  background-color: #22ab79;
  text-decoration: none;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
  text-transform: uppercase;
}

h6 {
  font-size: 1em;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col-md-4, .col-md-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
blockquote {
  border-left: solid 0.2rem #26c088;
  margin: 4rem 0 1.25rem 0;
  padding: 0.5rem 0 0.5rem 1.2rem;
}
blockquote:before, blockquote:after {
  content: "";
}
blockquote p:last-child {
  margin: 0;
}

ul {
  margin-top: 0.25em;
  margin-left: 0.7em;
  padding-left: 0.7em;
}

li {
  margin-bottom: 0.8em;
}

pre, fieldset, input, textarea, table, table *, hr {
  border-color: #e6e6e6;
}

th, td {
  border: solid 1px #e6e6e6;
  padding: 1em 0.5em;
  line-height: 1.4;
  margin: 0;
}

ul, ol {
  padding-left: 0.1em;
}
ul li, ol li {
  margin: 0.5em 0;
}

address {
  margin-bottom: 1rem;
  color: #999999;
}

cite {
  font-size: 1em;
  color: #26c088;
}

.entry-title, .widget-title {
  margin-top: 0;
}

#content {
  margin-top: 2.5em;
}

.entry-content {
  /*
  	form[class*="wp-block"] {
  		display: flex;
  		align-items: center;
  	}
  */
  /*
  	label[class*="wp-block"] {
  		width: 100%;
  	}
  */
}
.entry-content ul[class*=wp-block] {
  list-style: none;
}
.entry-content ul[class*=wp-block] li {
  margin-bottom: 1.2em;
}
.entry-content ul[class*=wp-block] li:before {
  content: "";
  font-family: "Dashicons";
  font-size: 0.8em;
  margin-right: 0.5em;
}
.entry-content input[type=search][class*=wp-block] {
  width: 100%;
  border-radius: 3px;
  padding: 0.5em;
}
.entry-content input[type=submit][class*=wp-block], .entry-content button[type=submit][class*=wp-block] {
  margin-left: 0.5em;
  border: 0;
  background: none;
  color: #26c088;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.entry-content select[class*=wp-block] {
  padding: 0.5em;
  border-radius: 3px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

#header-wrapper {
  display: flex;
  align-items: center;
  margin: 1.2em;
}
#header-wrapper button {
  padding: 0;
  border: 0;
  background: none;
  margin-left: auto;
  color: #26c088;
}
#header-wrapper button span {
  font-size: 2em;
  width: 100%;
  height: auto;
}
#header-wrapper .site-title {
  margin: 0;
}
#header-wrapper .site-title a {
  text-decoration: none;
}
#header-wrapper .site-description {
  margin: 0;
}

#masthead img {
  width: 100%;
}

button#search-btn {
  cursor: pointer;
}

#ct_white_search {
  position: relative;
  text-align: center;
  margin-left: auto;
}
#ct_white_search button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
#ct_white_search input[type=text] {
  width: 100%;
  padding: 0.5em 0.8em;
  border: 4px solid #26c088;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.post {
  margin: 0 0 2em;
  padding: 0 0 3em;
}

article {
  border-bottom: solid 1px #eeeeee;
}
article .entry-title {
  line-height: 1.2em;
  margin-bottom: 0.5em;
}
article .entry-title a {
  font-weight: 700;
  text-decoration: none;
}
article .entry-meta {
  display: flex;
  margin-bottom: 0.5em;
}
article .entry-meta a {
  color: black;
  text-decoration: underline;
  font-weight: 600;
  margin-right: 0.5em;
}
article .entry-meta img {
  margin-right: 0.5em;
}
article .entry-meta .posted-on, article .entry-meta .byline {
  display: flex;
  align-items: center;
}
article .entry-meta img {
  margin-left: 0.5em;
  border-radius: 50%;
}
article .entry-excerpt {
  margin-bottom: 0.8em;
  font-size: 0.9em;
  width: 80%;
  color: #999;
}
article .more-link {
  position: relative;
  text-decoration: none;
  font-weight: 600;
}
article .more-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #26c088;
  opacity: 0;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transition: all 100ms ease-out;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
}
article .more-link:hover:before {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  opacity: 1;
}

.post-navigation span.dashicons {
  position: relative;
  top: 2px;
}

#site-navigation {
  text-align: center;
  margin: 0.5em auto;
  padding: 0.5em;
  border-bottom: solid 5px #f1f1f1;
}
#site-navigation a {
  display: inline-block;
  text-decoration: none;
}
#site-navigation a:hover {
  background-color: #f5f5f5;
}
#site-navigation ul ul {
  background-color: white;
  box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.3);
}
@media (min-width: 992px) {
  #site-navigation ul#primary-menu {
    display: inline-block;
  }
  #site-navigation ul#primary-menu .dropdown-arrow {
    display: none;
  }
  #site-navigation ul#primary-menu > li {
    position: relative;
    float: left;
  }
  #site-navigation ul#primary-menu > li > a {
    padding: 0.5em 1em;
    text-transform: uppercase;
  }
  #site-navigation ul#primary-menu > li.menu-item-has-children > a:after {
    position: relative;
    content: "";
    font-family: "Dashicons";
    padding-left: 3px;
    top: 3px;
  }
  #site-navigation ul#primary-menu ul {
    flex-direction: column;
    text-transform: none;
    background-color: white;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  #site-navigation ul#primary-menu ul li {
    position: relative;
    float: none;
    display: block;
    margin: 0;
  }
  #site-navigation ul#primary-menu ul li a {
    padding: 1em;
  }
  #site-navigation ul#primary-menu ul li:hover > ul, #site-navigation ul#primary-menu ul li.focus > ul {
    left: 100%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  #site-navigation ul#primary-menu ul li.menu-item-has-children > a:after {
    position: relative;
    content: "";
    font-family: "Dashicons";
    float: right;
  }
  #site-navigation ul#primary-menu li:hover > ul {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

button.menu-toggle {
  width: auto;
  border: 0;
  border-radius: 3px;
  line-height: 1;
  font-size: 0.9em;
  background-color: #26c088;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  margin: auto;
  margin-bottom: 1em;
  cursor: pointer;
}
button.menu-toggle:hover, button.menu-toggle:focus {
  background-color: #22ab79;
  text-decoration: none;
}

@media (max-width: 991px) {
  #site-navigation .dropdown-arrow {
    cursor: pointer;
    color: #26c088;
    margin: 3px 0 0 3px;
  }
  #site-navigation li {
    padding: 0.5em 0.8em;
    margin: 0;
  }
  #site-navigation li .dashicons {
    float: right;
  }
  #site-navigation a {
    background: none;
  }
  #site-navigation ul {
    width: 300px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.03);
  }
  #site-navigation ul ul {
    width: 100%;
    position: relative;
    opacity: 1;
    float: none;
    left: 0;
    box-shadow: none;
    background-color: rgba(221, 221, 221, 0.24);
  }
  #site-navigation ul ul a {
    width: auto;
  }
}
#footer-sidebar {
  background-color: #26c088;
  padding-top: 2em;
}
#footer-sidebar h2.widget-title {
  color: white;
}
#footer-sidebar a {
  color: white;
}

#colophon {
  background-color: #1e956a;
  text-align: center;
  color: white;
}
#colophon .site-info {
  display: inline-block;
  padding: 1em 0;
}
#colophon a {
  color: white;
  font-weight: 600;
}

/**
 *	Styling for the Pagination
 */
.ct-white-pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 1em auto;
  color: #aaaaaa;
}
.ct-white-pagination .nav-links > * {
  margin: 0.8em;
}
.ct-white-pagination .nav-links span.current {
  position: relative;
  font-weight: 400;
}

.widget {
  margin: 0 0 3em;
}
.widget:not(.widget_rss):not(.widget_text) {
  color: #aaaaaa;
}
.widget a {
  color: black;
}
.widget a:not(.widget_text) {
  text-decoration: none;
}
.widget a:not(.widget_text):hover {
  text-decoration: underline;
}
.widget .widget-title {
  color: initial;
  color: #26c088;
  font-weight: 700;
}
.widget ul {
  list-style: none;
  margin-top: 0.25em;
  margin-left: 0.7em;
  padding-left: 0.7em;
}
.widget li {
  margin-bottom: 1.2em;
}
.widget li:before {
  content: "";
  font-family: "Dashicons";
  font-size: 0.8em;
  margin-right: 0.5em;
  color: #26c088;
}
.widget > ul {
  margin-left: 0;
  padding-left: 0;
}
.widget.widget_search form {
  display: flex;
  align-items: center;
}
.widget.widget_search label {
  width: 100%;
}
.widget.widget_search input[type=search] {
  width: 100%;
  border-radius: 3px;
  padding: 0.5em;
}
.widget.widget_search input[type=submit] {
  margin-left: 0.5em;
  border: 0;
  background: none;
  color: #26c088;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.widget select {
  padding: 0.5em;
  border-radius: 3px;
}

#respond input[type=submit] {
  width: auto;
  border: 0;
  border-radius: 3px;
  line-height: 1;
  font-size: 0.9em;
  background-color: #26c088;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
#respond input[type=submit]:hover, #respond input[type=submit]:focus {
  background-color: #22ab79;
  text-decoration: none;
}

.comment-body {
  border-bottom: solid 1px #eeeeee;
}

#comments ol, #comments ul {
  list-style: none;
}
#comments .comment-meta a {
  margin-right: 0.5em;
  text-decoration: none;
}
#comments .comment-author {
  display: flex;
  align-items: center;
}
#comments .comment-author img {
  border-radius: 50%;
  margin-right: 0.5em;
}
#comments .reply a {
  display: inline-block;
  width: auto;
  border: 0;
  border-radius: 3px;
  line-height: 1;
  font-size: 0.9em;
  background-color: #26c088;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  margin-bottom: 1.4em;
  text-decoration: none;
}
#comments .reply a:hover, #comments .reply a:focus {
  background-color: #22ab79;
  text-decoration: none;
}
#comments p {
  margin-left: 1em;
}

body.single .entry-title, body.page .entry-title {
  color: black;
}
body.single .singular-thumb, body.page .singular-thumb {
  margin-bottom: 1em;
}
body.single .entry-footer a, body.page .entry-footer a {
  margin-left: 0.4em;
}
body.single .entry-footer .edit-link a, body.page .entry-footer .edit-link a {
  display: inline-block;
  width: auto;
  border: 0;
  border-radius: 3px;
  line-height: 1;
  font-size: 0.9em;
  background-color: #26c088;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
body.single .entry-footer .edit-link a:hover, body.single .entry-footer .edit-link a:focus, body.page .entry-footer .edit-link a:hover, body.page .entry-footer .edit-link a:focus {
  background-color: #22ab79;
  text-decoration: none;
}
body.single .nav-links a, body.page .nav-links a {
  text-decoration: none;
}

#ct-top-bar {
  display: inline-block;
  width: 100%;
}
#ct-top-bar #ct-social-icons {
  float: right;
}
#ct-top-bar #ct-social-icons .icon {
  float: left;
  margin: 0.4em;
}
#ct-top-bar #ct-social-icons a {
  text-decoration: none;
}

body.error404 #primary {
  width: 100%;
  text-align: center;
}

.wpcf7 input:not([type=submit]), .wpcf7 textarea, .wpcf7 select {
  border-radius: 0;
  width: 100%;
}
.wpcf7 .wpcf7-checkbox .wpcf7-list-item, .wpcf7 .wpcf7-radio .wpcf7-list-item {
  display: block;
}
.wpcf7 .wpcf7-checkbox .wpcf7-list-item input, .wpcf7 .wpcf7-radio .wpcf7-list-item input {
  width: auto;
}
.wpcf7 .wpcf7-not-valid-tip {
  font-size: 0.85em;
  font-weight: 700;
}
