/*==================== css for mobile device section ====================*/
@media (max-width: 767px){
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
    border-color: transparent;
    background-color: #464646;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover {
    background-color: #555;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;    
}

#sub-menu .list-inline li a {
    padding: 10px;
}

.section-head h2 {
    font-size: 38px;
}

.breadcrumb h1 {
    font-size: 75px;
}

.post-content h2 {
    font-size: 50px;
}


.footer-top-content .list-inline li a i, 
.social-contact .list-inline li a i {
    width: 55px;
}

.footer-post-content{
	overflow: hidden;
}

.footer-top-content{
	margin-bottom: 30px;
}
.comment-form .form-submit{
    margin-top: 20px;
}

.footer-contact {
    margin-top: 0;
}
.pager .next, .pager .previous{
    width: 45%;
}
.pager .previous{
    padding-left: 0;
}
.pager .previous .fa-chevron-left,.pager .next .fa-chevron-right{
    position: absolute;
    line-height: 55px;
    font-size: 15px;
}

.pager .previous .fa-chevron-left{
/*padding-left:7px;
*/}

.pager .previous a{
    padding: 5px 10px;
    font-size: 16px;

}

.pager .next a{
    padding: 5px;
    font-size: 16px;
}

 /*sub category tag menu style*/

 .sub-menu-area h2 {
    text-align: left;
    padding: 35px 5px;
    font-size: 20px;
}
#sub-menu .tagcloud {
    padding-left: 50px;
    top: 33%;
    position: absolute;
     
}
a.tag-cloud-link{
    font-size: 15px !important;
    padding-left: 5px;
}

.wp-post-image{
    width: 100%;
}

    .search-form .search-submit {
    height: 60px;
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0px 20px;
    position: absolute;
    border-left: none;
    margin-left: -50px;
    border-radius: none;
    }
 


}/*end of max-width: 767px*/

@media (max-width: 319px){

.navbar-brand .site-title {
    font-size: 25px;
}

/*footer latest post style*/
.latest-post-widget .post-group{
       float: left;
       margin-bottom: 110px;;
    }
.latest-post-widget .post-group h3 {
    margin-top: -2px;
    padding-left: 90px;
    position: absolute;
    width: 90%;
}

.latest-post-widget .post-group p {
  padding-top: 37px;
    padding-left: 0px;
    position: absolute;
    width: 90%;
}

.latest-post-widget .post-group img {
       width: 30%;
    height: 60px;
    float: left;
}
.footer-top-content h2 {
    font-size: 25px;
}


} /*end of max-width: 319px*/


@media (min-width: 320px) and (max-width: 390px){


/*footer latest post style*/
.latest-post-widget .post-group{
       float: left;
       margin-bottom: 70px;
    }
.latest-post-widget .post-group h3 {
    margin-top: -2px;
    padding-left: 130px;
    position: absolute;
    width: 90%;
}

.latest-post-widget .post-group p {
    padding-top: 37px;
    padding-left: 130px;
    position: absolute;
    width: 90%;
}

.latest-post-widget .post-group img {
       width: 35%;
    height: 110px;
    float: left;
}


}/*end of max-width: 390px*/

/*==================== css for small device section ====================*/
@media (min-width: 390px) and (max-width: 480px){

    /*footer latest post style*/
.latest-post-widget .post-group{
        float: left;
        margin-bottom: 40px;
    }
.latest-post-widget .post-group h3 {
    margin-top: -4px;
    padding-left: 190px;
    position: absolute;
    width: 90%;
}

.latest-post-widget .post-group p {
   padding-top: 30px;
    padding-left: 190px;
    position: absolute;
     width: 90%;
}

.latest-post-widget .post-group img {
    width: 40%;
    height: 150px;
    float: left;
}

}/*end of max-width: 400px*

/*==================== css for small device section ====================*/
@media (min-width: 320px) and (max-width: 480px){
/*----blog post pagination section----*/
.blog-pagination a {
    padding: 10px;   
    font-size: 16px;
}
.comment-form .form-submit{
    margin-top: 20px;
}

.pager .next, .pager .previous{
    width: 45%;
}
.pager .previous{
    padding-left: 0;
}
.pager .previous .fa-chevron-left,.pager .next .fa-chevron-right{
    position: absolute;
    line-height: 55px;
    font-size: 15px;
}

.pager .previous .fa-chevron-left{
/*padding-left:7px;
*/}

.pager .previous a{
    padding: 5px 10px;
    font-size: 16px;

}

.pager .next a{
    padding: 5px;
    font-size: 16px;
}

.search-form .search-submit {
    height: 60px;
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0px 20px;
    position: absolute;
    border-left: none;
    margin-left: -50px;
    border-radius: none;
}
 



}/*end of max-width: 480px*/
 
/*==================== css for tab device section ====================*/
@media (min-width: 481px) and (max-width: 767px){

  .comment-form .form-submit{
    margin-top: 30px;
}
.pager .next, .pager .previous{
    width: 45%;
}
.pager .previous{
    padding-left: 0;
}
.pager .previous .fa-chevron-left,.pager .next .fa-chevron-right{
    position: absolute;
    line-height: 63px;
    font-size: 15px;
}

.pager .previous .fa-chevron-left{
/*padding-left:7px;
*/}

.pager .previous a{
    padding: 20px;
    font-size: 16px;

}

.pager .next a{
    padding: 20px;
    font-size: 16px;
}

    .search-form .search-submit {
    height: 60px;
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0px 20px;
    position: absolute;
    border-left: none;
    margin-left: -50px;
    border-radius: none;
    }
/*footer latest post style*/
.latest-post-widget .post-group{
        float: left;
        margin-bottom: 40px;
    }
.latest-post-widget .post-group h3 {
    margin-top: -4px;
    padding-left: 240px;
    position: absolute;
    width: 90%;
}

.latest-post-widget .post-group p {
   padding-top: 50px;
    padding-left: 240px;
    position: absolute;
     width: 90%;
}

.latest-post-widget .post-group img {
    width: 40%;
    height: 150px;
    float: left;
}


    }/*end of max-width: 767px*/
/*==================== css for small device section ====================*/
@media (min-width: 768px) and (max-width: 991px){
.menu .navbar-brand{
    padding-bottom: 50px;
}

.nav>li>a {
    padding: 10px;
}

.menu .navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-nav>li>a:focus {
    font-size: 18px;
}

.navbar-right .dropdown-menu {
    right: -100%;
}

.navbar-right{
	position: relative;
	left: -24px;
}

#sub-menu .list-inline li a {
    padding: 10px;
}

.section-head h2 {
    font-size: 48px;
}
 
.social-contact .list-inline li a i {
    width: 58px;
    height: 55px;
}

.post-content h2 {
    font-size: 62px;
}

.footer-top-content .list-inline li a i{
    margin-bottom: 10px;
}

.footer-post img {
    float: none;
    margin-bottom: 15px;
}

/*right sidebar search widget*/
.search-form .search-field{
    width: 80%;
}

.search-form .search-submit {
    height: 60px;
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0px 10px;
    position: absolute;
    border-left: none;
    margin-left: -70px;
    border-radius: none;
    }
     /*sub category tag menu style*/

 .sub-menu-area h2 {
    text-align: left;
    padding: 30px;
    font-size: 20px;
    }
#sub-menu .tagcloud {
    padding-left: 80px;
    top: 32%;
    position: absolute;
     
    }
a.tag-cloud-link{
    font-size: 15px !important;
    padding-left: 5px;
    }


/*footer latest post style*/
.latest-post-widget .post-group h3 {
    margin-top: -66px;
    padding-left: 90px;
}

.latest-post-widget .post-group p {
    padding-top: 50px;
    padding-left: 0px;
}
.latest-post-widget .post-group img {
    width: 40%;
    height: 60px;
    float: left;
}
.footer-top-content h2 {
    font-size: 25px;
}

     
}/*end of max-width: 991px*/


/*==================== css for desktop device section ====================*/
@media (min-width: 992px) and (max-width: 1199px){
.menu .navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-nav>li>a:focus {
    font-size: 18px;
    margin-top: 5px;
}

.nav>li>a {
    padding: 10px;
}

.footer-top-content .list-inline li a i, 
.social-contact .list-inline li a i {
    width: 60px;
}

.footer-post-content h3 {
    font-size: 17px;
}
/*right sidebar search widget*/
.search-form .search-field{
    width: 80%
}

.search-form .search-submit {
    height: 60px;
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0px 20px;
    position: absolute;
    border-left: none;
    margin-left: -50px;
    border-radius: none;
    }
/*footer latest post style*/
.latest-post-widget .post-group h3 {
    margin-top: -133px;
    padding-left: 46px;
}
.latest-post-widget .post-group p {
    padding-top: 30px;
    padding-left: 130px;
}
.footer-latest-post-img{
    height: 80px;
}

}/*end of max-width: 1199px*/


/*==================== css for large device section ====================*/
@media (min-width: 1200px) and (max-width: 1920px){
	

    .search-form .search-submit {
        height: 60px;
        background: #fff;
        border: 1px solid #c0c0c0;
        padding: 0px 20px;
        position: absolute;
        border-left: none;
        margin-left: -50px;
        border-radius: none;
    }
    .footer-latest-post-img{
        height: 80px;
    }

}/*end of max-width: 1920px*/