// Default Widget Block Styling

.entry-content {
	ul[class*="wp-block"] {
		list-style: none;
		li {
			margin-bottom: 1.2em;
			&:before {
				content: "\f345";
				font-family: "Dashicons";
				font-size: 0.8em;
				margin-right: 0.5em;
			}
		}
	}
/*
	form[class*="wp-block"] {
		display: flex;
		align-items: center;
	}
*/
/*
	label[class*="wp-block"] {
		width: 100%;
	}
*/
	input[type="search"] {
		&[class*="wp-block"] {
			width: 100%;
			border-radius: 3px;
			padding: 0.5em;
		}
	}
	input[type="submit"], button[type="submit"] {
		&[class*="wp-block"] {
			margin-left: 0.5em;
			border: 0;
			background: none;
			color: $accent;
			padding: 0;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
	select[class*="wp-block"] {
		padding: 0.5em;
		border-radius: 3px;
	}
}

