// General Styling of the theme

html {
	font-size: 17px;
}

body {
	@extend %font;
	letter-spacing: .03rem;
	-webkit-font-smoothing: antialiased;
	color: #555;
	outline-color: $accent;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	@extend %font;
}

a {
	color: $accent;
	&:hover, &:visited, &:active {
		color: $link-hover;
	}
}

input[type="submit"] {
	@include button();
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
	text-transform: uppercase;
}

h6 {
	font-size: 1em;
}

// Bootstrap Elements
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.col-md-4, .col-md-8 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 768px) {
	.col-md-4 {
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
	.col-md-8 {
	    -ms-flex: 0 0 66.666667%;
	    flex: 0 0 66.666667%;
	    max-width: 66.666667%;
	}
}

blockquote {
    border-left: solid .2rem $accent;
    margin: 4rem 0 1.25rem 0;
    padding: .5rem 0 .5rem 1.2rem;
    &:before, &:after {
        content: "";
    }
    & p:last-child {
        margin: 0;
    }
}

ul {
	margin-top: 0.25em;
	margin-left: 0.7em;
	padding-left: 0.7em;
}
li {
	margin-bottom: 0.8em;
}

pre, fieldset, input, textarea, table, table *, hr {
	border-color: darken( white, 10% );
}

th, td {
    border: solid 1px darken( white, 10%);
    padding: 1em 0.5em;
    line-height: 1.4;
    margin: 0;
}

ul, ol {
    padding-left: .1em;
    li {
        margin: .5em 0;
    }
}

address {
	margin-bottom: 1rem;
	color: darken( white, 40%);
}

cite {
    font-size: 1em;
    color: $accent;
}

.entry-title, .widget-title {
	margin-top: 0;
}

#content {
	margin-top: 2.5em;
}