/**
 *	Styling for the Pagination
 */
 
.ct-white-pagination {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1em auto;
	color: #aaaaaa;
	.nav-links {
		& > * {
			margin: 0.8em;
		}
		span.current {
			position: relative;
			font-weight: 400;
		}
	}
}