// Styling for Social Icons

#ct-top-bar {
	display: inline-block;
	width: 100%;
	#ct-social-icons {
		float: right;
		.icon {
			float: left;
			margin: 0.4em;
		}
		a {
			text-decoration: none;
		}
	}	
}