// Widget Styling

.widget {
	margin: 0 0 3em;
	&:not(.widget_rss):not(.widget_text) {
		color: #aaaaaa;
	}
	a {
		color: black;
		&:not(.widget_text) {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.widget-title {
		color: initial;
		color: $accent;
		font-weight: 700;
	}
	ul {
		list-style: none;
		margin-top: 0.25em;
		margin-left: 0.7em;
		padding-left: 0.7em;
	}
	li {
		margin-bottom: 1.2em;
		&:before {
			content: "\f345";
			font-family: "Dashicons";
			font-size: 0.8em;
			margin-right: 0.5em;
			color: $accent;
		}
	}
	& > ul {
		margin-left: 0;
		padding-left: 0;
	}
	&.widget_search {
		form {
			display: flex;
			align-items: center;
		}
		label {
			width: 100%;
		}
		input[type="search"] {
			width: 100%;
			border-radius: 3px;
			padding: 0.5em;
		}
		input[type="submit"] {
			margin-left: 0.5em;
			border: 0;
			background: none;
			color: $accent;
			padding: 0;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
	select {
		padding: 0.5em;
		border-radius: 3px;
	}
}